.auth {
	height: 100%;
	border: calc(var(--border-width) + 5px) var(--border-style) var(--color-component);
	padding: var(--padding);
	display: grid;
	row-gap: var(--row-gap);
	justify-content: center;
	align-content: center;
}
.auth > .bar.menu {
	display: flex;
	column-gap: var(--col-gap);
	/* max-width: 500px; */
}
.auth > .bar.menu > * {
	flex-grow: 2;
}
.holder {
	border: var(--border-width) var(--border-style) var(--color-layout);
	padding: var(--padding);
}
.auth form { /* .login, .signup */
	border: var(--border-width) var(--border-style) var(--color-component);
	padding: var(--padding);
	display: grid;
	row-gap: var(--row-gap);
	color: var(--color-component);
}
.auth button[type=submit], .auth input {
	min-width: 40vw;
	color: var(--color-component);
}
