button, input[type=text], .button, .textbox {
	min-width: 60px;
	min-height: 60px;
	max-height: 60px;
}
button, .button  {
	max-width: 60px;
	word-break: break-all;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(189, 189, 189);
}
button:active, .button:active {
	transform: scale(0.8);
	transition: 100ms;
}
input[type=text], .textbox {
	background-color: rgb(255, 255, 255);
	padding: var(--padding);
}
::placeholder {
	color: rgb(173, 173, 173);
}
input[type="file"]::-webkit-file-selector-button, ::-webkit-file-upload-button {
	background-color: rgb(255, 255, 255);
}
label {
	padding: 5px;
}

table {
	/* background-color: lightslategrey; */
}
td {
	padding: var(--padding);
}

.square {
	width: 70px;
	height: 70px;
}
.border-left {
	border-left: 2px solid black;
}
.border-right {
	border-right: 2px solid black;
}
.border-top {
	border-top: 2px solid black;
}
.border-bottom {
	border-bottom: 2px solid black;
}
.border {
	border: 2px solid black;
}

.flex {
	display: flex;
}
.grid {
	display: grid;
}
.padding {
	padding: 10px;
}
.row-gap {
	row-gap: 10px;
}
.col-gap {
	column-gap: 10px;
}
.center-x {
	justify-content: center;
}
.center-y {
	align-items: center;
}
.center {
	justify-content: center;
	align-items: center;
}
.hide-overflow-x {
	overflow-x: hidden;
}
.hide-overflow-y {
	overflow-y: hidden;
}
.hide-overflow {
	overflow: hidden;
}
.link {
	margin-top: 50px;
	border: unset;
	background-color: unset;
}
img {
	width: 200px;
	height: 200px;
}

.icon { /* profile */
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
.hero * {
	/* border: 1px solid white; */
}
.hero {
	border: var(--border-width) var(--border-style) var(--color-item);
	padding: var(--padding);
	display: flex;
	column-gap: var(--col-gap);
}
.hero > div {
	display: grid;
	align-content: center;
}
.title {
}
.conv_name {
	text-decoration: underline;
	/* font-weight: 400; */
}

@media screen and (max-width: 400px) {
	button, .button {
		max-width: unset;
	}
}
